{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="team-area pt-80 pb-80 section-bg" data-background="{% static 'assets/img/gallery/section_bg02.png' %}">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-6">
                <h1 class="text-white">Machine Learning A-Z™: Hands-On Python & R In Data Science</h1>
                <p class="text-white">Learn to create Machine Learning Algorithms in Python and R from two Data Science experts. Code templates included.</p>
                <small class="text-white"><a class="p-1" style="background-color: khaki;border-radius: 40px;">BestSeller</a>&nbsp;&nbsp;Rating: 4.5 &nbsp;&nbsp;<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i> (139,354 ratings) 737,324 students</small><br>
                <small class="text-white">Created by <a href="">James Gills</a>, <a href="">Harrison Grphics</a>, <a href="">Strawbeery Hub</a>, <a href="">Google Development Team</a></small><br>
                <small class="text-white"><i class="fas fa-exclamation-triangle"></i>&nbsp; Last updated 1/2021 &nbsp;&nbsp;<i class="fas fa-globe"></i> &nbsp;English &nbsp;&nbsp;<i class="fas fa-closed-captioning"></i> &nbsp;English [Auto], French [Auto], </small>
                <div>
                    <button style="background-color: transparent;border-radius: 40px;border: 20px,solid,white;text-decoration: none;">Wishlist</button>
                    <button style="background-color: transparent;border-radius: 40px;border: 20px,solid,white;text-decoration: none;">Share</button>
                    <button style="background-color: transparent;border-radius: 40px;border: 20px,solid,white;text-decoration: none;">Gift This Course</button>
                </div>    
                </p>
            </div>

            <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="single-team mb-30">
                    <div class="team-img">
                        <img src="{% static 'assets/img/gallery/team1.png' %}" alt="">
                        <!-- Blog Social -->
                        <ul class="team-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fas fa-globe"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-caption">
                        <h3><a href="instructor.html">Alexa Janathon</a></h3>
                        <p>Faculty</p>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- Section Button -->
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xl-8 offset-xl-2 mt-50 border border-secondary pt-40 pb-40 pr-40 pl-40" style="background-color: #f6f8ff;">
            <div class="row">
                <h3>What You Would Learn</h3>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <p><i class="fas fa-check"></i> Master Machine Learning on Python & R</p>
                </div>
                <div class="col-xl-6">
                    <p><i class="fas fa-check"></i> Master Machine Learning on Python & R</p>
                </div>
                <div class="col-xl-6">
                    <p><i class="fas fa-check"></i> Master Machine Learning on Python & R</p>
                </div>
                <div class="col-xl-6">
                    <p><i class="fas fa-check"></i> Master Machine Learning on Python & R</p>
                </div>
                <div class="col-xl-6">
                    <p><i class="fas fa-check"></i> Master Machine Learning on Python & R</p>
                </div>
                <div class="col-xl-6">
                    <p><i class="fas fa-check"></i> Master Machine Learning on Python & R</p>
                </div>
            </div>
        </div>
        <div class="col-xl-8 offset-xl-2 mt-50" >
            <div class="row">
                <h3>Course Content</h3>
            </div>
            <div class="row">
                <small class="mr-200">45 sections • 322 lectures • 44h 29m total length</small>
                <a class="ml-150">Expand all sections</a>
            </div>
        </div>    
        <div class="col-xl-8 offset-xl-2 border border-secondary pr-40 pl-40" style="background-color: #f6f8ff; border: 20px,solid,grey;">
            <div class="row ">
                <h4 class=" mr-200 mt-2">What You Would Learn</h4>
                <small class="ml-150 mt-3">322 lectures • 44h 29m</small>
            </div>
        </div>
        <div class="col-xl-8 offset-xl-2 border border-secondary pt-40 pb-40 pr-40 pl-40" style="background-color: #ffffff; border: 20px,solid,grey;">    
            <div class="row ">
                <ul>
                    <li>Applications of machine learning</li>
                    <li>Why machine learning is the future</li>
                    <li>Presentation of the ML A-Z folder, Colaboratory, Jupyter Notebook and Spyder</li>
                    <li>Installing R and R studio</li>
                    <li>Data processing in python</li>
                    <li>Data processing in R</li>
                </ul>
            </div>
        </div>
        <div class="col-xl-8 offset-xl-2 border border-secondary pt-40 pb-40 mt-50 pr-40 pl-40" style="background-color: #f6f8ff;">
            <div class="row">
                
                <h3>Description</h3>
                
                <p>This course has been designed by two professional Data Scientists so that we can share our knowledge and help you learn complex theory, algorithms, and coding libraries in a simple way.
                </p>
                <p>Interested in the field of Machine Learning? Then this course is for you!</p>
                <p>We will walk you step-by-step into the World of Machine Learning. With every tutorial, you will develop new skills and improve your understanding of this challenging yet lucrative sub-field of Data Science.</p>
                <p>This course is fun and exciting, but at the same time, we dive deep into Machine Learning. It is structured the following way:</p>
                <ol>
                    <li>Part 1 - Data Preprocessing</li>
                    <li>Part 2 - Regression: Simple Linear Regression, Multiple Linear Regression, Polynomial Regression, SVR, Decision Tree Regression, Random Forest Regression</li>
                    <li>Part 3 - Classification: Logistic Regression, K-NN, SVM, Kernel SVM, Naive Bayes, Decision Tree Classification, Random Forest Classification</li>
                    <li>Part 4 - Clustering: K-Means, Hierarchical Clustering</li>
                    <li>Part 5 - Association Rule Learning: Apriori, Eclat</li>
                    <li>Part 6 - Reinforcement Learning: Upper Confidence Bound, Thompson Sampling</li>
                    <li>Part 7 - Natural Language Processing: Bag-of-words model and algorithms for NLP</li>
                    <li>Part 8 - Deep Learning: Artificial Neural Networks, Convolutional Neural Networks</li>
                    <li>Part 9 - Dimensionality Reduction: PCA, LDA, Kernel PCA</li>
                </ol>
            </div>
        </div>
    </div>    
   
</div>
{% endblock %}